ss/* Aplica a todos los elementos de la página */
* {
  box-sizing: border-box;
}

/*  */
body {
  margin: 20px;
  font-family: Roboto, sans-serif;
}

/* Tamaño de letra de los títulos */
header h1 {
  font-size: 3.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
  margin: 20px;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}
h1 span {
  color: green;
}
a span {
  color: blue;
}

/*Propiedades de los botones */
button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0, 5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0, 5);
  color: white;
  background-color: blueviolet;
}

button:hover {
  background-color: rgb(74, 41, 105);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente si es necesario */
  box-sizing: border-box;
}

p {
  margin: 0;
}

img {
  margin-left: 20px; /* Espacio entre el texto y la imagen */
}

/* Color palabra "Domótica" del título */
.color-domotica {
  color: blueviolet;
}

header {
  background-color: antiquewhite;
}

#header-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-info {
  margin: auto;
  padding: 30px 10px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-info p {
  text-size-adjust: inherit;
}

/* Color palabra "Domótica" del título */
.color-domotica {
  color: blueviolet;
}

#quienes-somos-info-container header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: blueviolet;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba (0, 0, 0, 0, 5),
      rgba(0, 0, 0, 0, 5)
    )
    url("imagenes/p.logo.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: white;
}

/* Mandara a la izquierda (insertar unaimágen en paralelo a la derecha)  */
#somos-innovación-domotica .container {
  text-align: center;
  padding: 200px 12px;
}

footer-container {
  display: inline;

  justify-content: right;
  align-items: right; /* Alinea verticalmente si es necesario */
}
